.header{
    border: 2px solid red;
    text-align: center;
    overflow: auto;
    background-color: rgba(0, 217, 255, 0.449);
    border-radius: 20px;
}
.navbar table{
    border-bottom-left-radius: 18px;
}
tr a{
    text-decoration: none;
    margin-left: 20px;
    font-size: 20px;
    color: black;
}
tr a:hover{
    background-color: rgba(0, 217, 255, 0.684);
    color: white;
}
.navbar input{
    float: right;
    margin-top: -35px;
    width: 300px;
    height: 29px;
    border-bottom-right-radius: 16px;
}
.left{
    width: 20%;
    float: left;
    height: 400px;
    border-right: 2px dotted black;
    background-color: rgba(128, 128, 128, 0.495);
}
.container{
    height: 400px;
    float: left;
    width: 77%;
    padding: 10px;
    padding-left: 20px;
}
.container p{
    text-align: center;
    font-size: 25px;
}
.middle h2{
    text-align: center;
}
.middle{
    border: 2px solid black;
    border-radius: 20px;
    overflow: auto;
}
.middle li a{
    text-decoration: none;
    color: black;
    font-size: 25px;
}
.middle li{
    list-style: none;
    margin-left: -40px;
    padding: 15px;
    padding-left: 40px;
}
.left li:hover{
    background-color: rgba(128, 128, 128, 0.599);
}
.left li:active{
    background-color: rgba(0, 217, 255, 0.601);
}
.left li:visited{
    background-color: rgba(0, 217, 255, 0.601);
}

.foot{
    overflow: auto;
    border: 2px solid black;
    border-radius: 20px;
}
.foot p,h3{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}